# User Module Configuration
#
# This module provides user management functionality:
#   - User registration and confirmation
#   - Password reset
#   - Social network authentication

parameters:
    user.reset_token_ttl: 'PT1H'      # 1 hour
    user.confirm_token_ttl: 'P1D'     # 1 day

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\User\:
        resource: '../../'
        exclude:
            - '../../Entity/'
            - '../../Infrastructure/config/'

    App\User\Domain\Contract\UserMailerInterface:
        alias: App\User\Infrastructure\Services\SignUpMailer

    App\User\Infrastructure\Services\SignUpMailer:
        arguments:
            $senderMail: '%env(MAILER_SENDER)'

    App\User\Domain\Contract\ResetTokenizerInterface:
        alias: App\User\Infrastructure\Services\ResetTokenizer


    # Reset token interval
    user.reset_token.interval:
        class: DateInterval
        arguments: ['%user.reset_token_ttl%']

    # Confirm token interval
    user.confirm_token.interval:
        class: DateInterval
        arguments: ['%user.confirm_token_ttl%']

    App\User\Infrastructure\Services\ResetTokenizer:
        arguments:
            $interval: '@user.reset_token.interval'
